.action-table3__wrapper
	.action-table3__inner-wrapper
		table.action-table3__table1
			tr.action-table3__table1-line1
				td.action-table3__table1-cell.action-table3__table1--title(colspan="2")
					a(href="http://www.beauty-ldf.ru/") Маникюр и Педикюр</br> по специальным ценам

			tr.action-table3__table1-line2
				td.action-table3__table1-cell.action-table3__table1--text(colspan="2")
					div.
						Маникюр + Покрытие гель-лак ........ 1200р</br>
						Педикюр + Покрытие гель-лак ........ 1500р</br>
						Педикюр + Покрытие гель-лак ........ 1500р</br>
					p.
						В стоимость входит покрытие в один цвет*

			tr.action-table3__table1-line3
				td.action-table3__table1-cell.button.action-table3__button
					a.link.action-table3__link(href="http://www.beauty-ldf.ru/") Записаться
				td.action-table3__table1-cell.action-table3__table1--date 1 - 18 декабря

		table.action-table3__table2
			tr.action-table3__table2--line1(colspan="2")
				td.action-table3__table2--img
					img(alt="" src="assets/images/3.png")

