.action-table3
	&__wrapper
		margin-top: 28px;
		background-color: #fff;
		position relative;

	&__inner-wrapper
		margin-top: 16px;
		padding-bottom:50px;
	&__table1
		border-collapse collapse;
		box-shadow:0 0 11px 3px alpha(#000000, .2);
		width: 59%;
		padding-bottom: 27px;
		display: inline-block;
		z-index: 3;
		position: relative;
		background-color: #fff;
		top: 25px;
		left: 15px;

		@media screen and (max-width: 560px)
			width: 94%;
			top: -41px;
		@media screen and (max-width: 480px)
			width: 70%;
		@media screen and (max-width: 480px)
			width: 50%;
		@media screen and (max-width: 310px)
			width: 43%;
	&__table1--title > a
		color: $c-primary;
		border-bottom:1px solid alpha($c-primary,0.3);
		font:700 18px/26px Arial;
	&__table1--title
		padding-left: 20px;
		padding-top: 23px;
		padding-right: 49px;
	&__table1--date
		font:700 14px/55px Arial;
		letter-spacing: -0.2px;
		position relative;
		top:10px;
		left: -25px;
		@media screen and (max-width: 480px)
			width: 30%;
	&__table1--text
		font:14px/23px Arial;
		padding-left: 20px;
		//padding-right: 28px;
		padding-top:6px;
	&__table1--text > div
		//margin-left: 4px;
		margin-top: 1px;
		letter-spacing: 0.1px;
	&__table1--text > p
		margin-top: 15px;
		letter-spacing: -0.1px;
		color:#666666;
	&__link
		margin-left: 2px;
	&__button
		position: relative;
		top: 8px;
		left:-2px;
	&__table1-line4
		height: 28px;
	&__table2
		display: inline-block;
		margin-left: -47px;
		width: 20%;
		z-index: 2;
		position: relative;
		top: 6px

		@media screen and (max-width: 560px)
			display:none;