.action-table1__wrapper
	h1.action-table1__title Действующие акции
	.action-table1__inner-wrapper
		table.action-table1__table1
			tr.action-table1__table1-line1
				td.action-table1__table1-cell.action-table1__table1--title(colspan="2")
					a(href="http://www.beauty-ldf.ru/") Окрашивание RUSK или INOA со скидкой 20%

			tr.action-table1__table1-line2
				td.action-table1__table1-cell.action-table1__table1--text(colspan="2")
					div Профессианальное окрашивание </br> от мирового бренда с выгодой 3000 рублей

			tr.action-table1__table1-line3
				td.action-table1__table1-cell.button.action-table1__button
					a.link.action-table1__link(href="http://www.beauty-ldf.ru/") Записаться
				td.action-table1__table1-cell.action-table1__table1--date 14 ноября - 18 декабря

		table.action-table1__table2
			tr.action-table1__table2--line1(colspan="2")
				td.action-table1__table2--img
					img(alt="" src="assets/images/1.png")

