svg.icons(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.5 112.5")
	path(d="M69.36,24.54H61.13c-9.25,0-15.22,6.13-15.22,15.62v7.2H37.64a1.29,1.29,0,0,0-1.29,1.29V59.07a1.29,1.29,0,0,0,1.29,1.29h8.27V86.68A1.29,1.29,0,0,0,47.21,88H58a1.29,1.29,0,0,0,1.29-1.29V60.36H69a1.29,1.29,0,0,0,1.29-1.29V48.63A1.29,1.29,0,0,0,69,47.34H59.3v-6.1c0-2.93.7-4.42,4.52-4.42h5.54a1.29,1.29,0,0,0,1.29-1.29V25.83A1.29,1.29,0,0,0,69.36,24.54Z")
	path(class="cls-1" d="M56.25,7A49.25,49.25,0,1,1,7,56.25,49.31,49.31,0,0,1,56.25,7m0-7A56.25,56.25,0,1,0,112.5,56.25,56.25,56.25,0,0,0,56.25,0Z")