svg.icons(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.5 112.5")
	path(class="cls-1" d="M56.25,6A50.25,50.25,0,1,1,6,56.25,50.31,50.31,0,0,1,56.25,6m0-6A56.25,56.25,0,1,0,112.5,56.25,56.25,56.25,0,0,0,56.25,0Z")
	path(class="cls-2" d="M35.39,29.42H77.11a7,7,0,0,1,7.2,7.2V78.34a7,7,0,0,1-7.2,7.2H35.39a7,7,0,0,1-7.2-7.2V36.62a7,7,0,0,1,7.2-7.2Zm33.68,6.23a2.53,2.53,0,0,0-2.53,2.53v6a2.53,2.53,0,0,0,2.53,2.53h6.34a2.53,2.53,0,0,0,2.52-2.53v-6a2.53,2.53,0,0,0-2.52-2.53ZM78,53.15H73A16.43,16.43,0,0,1,73.75,58,17.18,17.18,0,0,1,56.3,74.87c-9.63,0-17.45-7.57-17.45-16.9a16.46,16.46,0,0,1,.72-4.81H34.43V76.86a2.24,2.24,0,0,0,2.23,2.23H75.74A2.24,2.24,0,0,0,78,76.86ZM56.3,46.44A10.93,10.93,0,1,0,67.58,57.36,11.1,11.1,0,0,0,56.3,46.44Zm0,0")

