svg.icons(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.5 112.5")
	path(d="M88.08,70.75a97.1,97.1,0,0,0-7-7.05c-2.14-2.09-2.28-3.3-.56-5.71,1.88-2.63,3.9-5.16,5.79-7.78,1.77-2.45,3.58-4.89,4.51-7.82.59-1.86.07-2.69-1.84-3a5.94,5.94,0,0,0-1-.06H76.62A2.53,2.53,0,0,0,74,41.12c-.67,1.67-1.36,3.35-2.15,5a40.79,40.79,0,0,1-6.64,10.2c-.62.66-1.31,1.5-2.35,1.15-1.3-.47-1.69-2.62-1.66-3.34V41c-.25-1.87-.67-2.7-2.52-3.07H46.84a3.75,3.75,0,0,0-3.2,1.59c-.48.57-.63.94.37,1.12a3.93,3.93,0,0,1,3.35,3.6,40.2,40.2,0,0,1,.17,9.42,8.73,8.73,0,0,1-.6,2.69c-.57,1.35-1.49,1.62-2.7.79a10.9,10.9,0,0,1-2.62-2.87,63.33,63.33,0,0,1-6.92-12.82,3,3,0,0,0-2.83-2.12c-3.4-.05-6.81-.06-10.21,0-2,0-2.66,1-1.82,2.89A126.64,126.64,0,0,0,33,65.79a32.92,32.92,0,0,0,10,9.4A26.7,26.7,0,0,0,58,78.4c2.47-.12,3.21-.76,3.32-3.22a10.91,10.91,0,0,1,1.1-4.87,2.18,2.18,0,0,1,3.47-.84,9.82,9.82,0,0,1,1.88,1.67c1.39,1.52,2.73,3.08,4.17,4.55a8.07,8.07,0,0,0,6.64,2.7H89c1.68-.11,2.55-2.17,1.59-4A20.15,20.15,0,0,0,88.08,70.75Z")
	path(class="cls-1" d="M56.25,6A50.25,50.25,0,1,1,6,56.25,50.31,50.31,0,0,1,56.25,6m0-6A56.25,56.25,0,1,0,112.5,56.25,56.25,56.25,0,0,0,56.25,0Z")

