.global
	background-color: #d6d6d6;
	width 600px;
	margin: 0 auto;
	padding: 0 15px;
.color-row
	background-color: #fff;
	padding-bottom: 23px;
.button
	padding-top: 4px;
	padding-left: 20px;
.link
	color: #fff;
	border-radius: 5px;
	background-color: $c-primary;
	padding: 6px 20px 7px 16px;
	font: 14px/20px Arial;
	letter-spacing: -.2px;
	position: relative;
	left: 1px;
