.action-table2__wrapper
	.action-table2__inner-wrapper
		table.action-table2__table2
			tr.action-table2__table2--line1(colspan="2")
				td.action-table2__table2--img
					img(alt="" src="assets/images/2.png")

		table.action-table2__table1
			tr.action-table2__table1-line1
				td.action-table2__table1-cell.action-table2__table1--title(colspan="2")
					a(href="http://www.beauty-ldf.ru/") Товар 3+1

			tr.action-table2__table1-line2
				td.action-table2__table1-cell.action-table2__table1--text(colspan="2")
					div Четвертый товар с наименьшей</br> стоимостью в подарок

			tr.action-table2__table1-line3
				td.action-table2__table1-cell.button.action-table2__button
					a.link.action-table2__link(href="http://www.beauty-ldf.ru/") Записаться
				td.action-table2__table1-cell.action-table2__table1--date 1 ноября - 20 декабря


