.action-table2
	&__wrapper
		margin-top: 25px;
		background-color: #fff;
		position relative;
	&__inner-wrapper
		margin-top: 16px;
	&__table1
		border-collapse collapse;
		box-shadow:0 0 11px 3px alpha(#000000, .2);
		width: 59%;
		padding-bottom: 46px;
		display: inline-block;
		z-index: 3;
		position: relative;
		background-color: #fff;
		top: -42px;
		left: 89px;

		@media screen and (max-width: 560px)
			width: 94%;
			left:17px;
		@media screen and (max-width: 480px)
			width: 70%;
		@media screen and (max-width: 480px)
			width: 50%;
		@media screen and (max-width: 310px)
			width: 43%;
	&__table1--title > a
		color: $c-primary;
		border-bottom:1px solid alpha($c-primary,0.3);
		font:700 18px/26px Arial;
	&__table1--title
		padding-left: 27px;
		padding-top: 30px;
		padding-right: 49px;
	&__table1--date
		font:700 14px/55px Arial;
		letter-spacing: -0.2px;
		position relative;
		top:10px;
		left: 26px;

		@media screen and (max-width: 480px)
			width: 35%;
			left:-25px;
	&__table1--text
		font:14px/22px Arial;
		padding-left: 25px;
		padding-right: 28px;
		padding-top:6px;
	&__table1--text > div
		margin-left: 4px;
		margin-top: -1px;
		letter-spacing: -0.2px;
	&__link
		margin-left: 2px;
	&__button
		position: relative;
		top: 8px;
		left:5px;
	&__table1-line4
		height: 28px;
	&__table2
		display: inline-block;
		margin-left: 13px;
		width: 20%;
		z-index: 2;
		position: relative;

		@media screen and (max-width: 560px)
			display:none;