.header-table
	table.header-table__table

		tr.header-table__line.header-table__line--first
			td.header-table__cell.header-table__logo
				a(href="http://www.beauty-ldf.ru/")
					img(alt="" src="assets/images/logo.png")
			td.header-table__cell.header-table__phone
				div +7 (343) 247-84-57
			td.header-table__button.button
				a.link(href="http://www.beauty-ldf.ru/") Записаться

		tr.header-table__line.header-table__line--second
			td.header-table__cell.header-table__img(colspan="3")
				img(alt="" src="assets/images/main-header2.png")

		tr.header-table__line.header-table__line--third
			td.header-table__cell.header-table__salutation(colspan="3") Добрый день!

		tr.header-table__line.header-table__line--third
			td.header-table__cell.header-table__text(colspan="3")
				p.
					Вы подписались на рассылку новостей "Луи де Флер".</br>
					Мы обещаем не беспокоить вас лишними письмами и присылать</br>
					только интересные спецпредложения и информацию </br>
					о проходящих клиентских днях и других событиях.</br>
				p.header-table__thanks Спасибо, что выбрали "Луи де Флер"

