.header-table
	background-color: #000;
	&__table
		border-collapse: collapse;
		width: 100%;
		box-shadow:0 0 11px 3px alpha(#000000, .2);
	&__logo > a > img
		margin-left: 26px;
		margin-top: 17px;
		padding-bottom:10px;
	&__phone
		color: #ffffff;
		font:400 14px/20px Arial;
		text-align: right;
		padding-left: 32px;

		//@media screen and (max-width: 600px)
		//	left: -270px;
		//	margin-top: 70px;
	&__phone > div
		margin-top: 5px;
		margin-left: 5px;
		letter-spacing: -0.2px;
		position: relative;
		left: 7px;

		@media screen and (max-width: 600px)
			left: -270px;
			margin-top: 70px;
	&__button

		@media screen and (max-width: 600px)
			position: relative;
			left: -205px;
		@media screen and (max-width: 360px)
			left: -411px;
			padding-top: 141px;
	&__img
		padding-left: 29px;
		text-align: center;

		@media screen and (max-width: 460px)
			text-align: left;
	&__img > img
		position: relative;
		top:-13px;
		margin-top: 30px;
		left: -11px;

		@media screen and (max-width: 460px)
			transform: scale(-1, 1);
		@media screen and (max-width: 360px)
			width: 45%;
	&__salutation
		font:700 24px/14px Arial
		color:#ffffff;
		text-align: center;
		padding-left:12px;
		padding-top: 26px;

		@media screen and (max-width: 480px)
			text-align:left;
			padding-left: 46px;
	&__text
		font:16px/22px Arial
		color:#ffffff;
		text-align: center;
		padding: 17px 31px 25px 45px;
		letter-spacing: .1px;

		@media screen and (max-width: 560px)
			text-align: left;
			padding: 17px 55px 25px 45px;
	&__text > p
		@media screen and (max-width: 480px)
			width: 80%;
		@media screen and (max-width: 420px)
			width: 60%;
		@media screen and (max-width: 360px)
			width: 40%;
	&__thanks
		margin-top: 8px;
		margin-bottom: 10px;

