doctype html
html(lang="ru-RU")
	include ../head/head
	body
		//- Служебные переменные
		block settings

		.global
			//- Шапка
			include ../header/header
			.color-row
				include ../action-table/1/1
				include ../action-table/2/2
				include ../action-table/3/3
			include ../footer/footer

			//- Контентные блоки
			block content


		//- Скрипты
		script(src="assets/scripts/general.min.js")
