.icons
	width: 22px;
	height: 22px;
	fill: $c-primary;
	&:not(:first-child)
		margin-left: 6px;
.footer
	&__table
		border-collapse: collapse;
		box-shadow:0 0 11px 3px alpha(#000000, .2);
		background-color: #fff;
		margin-top: 15px;
		width: 100%
	&__line1
		@media screen and (max-width: 570px)
			position: relative;
			top: -65px;
	&__text
		font:12px/18px Arial;
		color:#666;
		padding-left:25px;
		padding-top: 21px;
		padding-bottom: 20px;
		letter-spacing: -0.05px;
	&__text > p
		@media screen and (max-width: 320px)
			width:65%;
	&__link
		color:$c-primary;
		border-bottom:1px solid alpha($c-primary,0.3);
	&__icon
		text-align: center;
		display: inline-block;
		margin-top: 29px;
		padding-left: 128px;

		@media screen and (max-width: 570px)
			padding-left: 0;
			margin-top: 160px;
			position: relative;
			left: -261px;
	&__rights
		padding-bottom:20px;
		font:12px/18px Arial;
		text-align: right;
		padding-right: 26px;
		margin-top: -1px;

		@media screen and (max-width: 570px)
			text-align:left
			position: relative;
			top: -50px;
		@media screen and (max-width: 520px)
			position: relative;
			left: -288px;


		//@media screen and (max-width: 600px)
		//	color:blue;

