.footer
	table.footer__table
		tr.footer__line1
			td(rowspan="2").footer__text
				p
					| Вы получили это письмо, так как подписались</br> на рассылку от Louis de Fleur.</br>
					| Вы можете
					a(href="javascript://").footer__link &nbsp;отписаться,&nbsp;
					| но мы будем скучать :-(
			td.footer__cell.footer__icon
				include ../../blocks/icons/ins
				include ../../blocks/icons/vk
				include ../../blocks/icons/fb
		tr.footer__line2
			td.footer__rights © 2013 «Луи Де Флер»